<!DOCTYPE html>
<html>
  <head>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  		<h1>Passionate Music</h1>
      <ul class="type">
        <li class="selected">Dot</li>
        <li>Column</li>
      </ul>
      <p><i class="volume"></i> <input id="volume" type="range" min="0" max="100" value="60"></p>
      <div class="fork">
        <div class="border">
          <a target="_blank" href="https://github.com/AmberYLopez-demos/music-visual">Fork Me On GitHub</a>
        </div>
      </div>
  	</header>  	
    <div class="list" id="list">
    	<button class="music-add" id="add">
    		本地音乐
    	</button>
    	<ul class="music-list" id="music-list">
        <% music.forEach(function(name){ %>
        <li title="<%= name %>"><%= name %></li>
        <% }) %>
    	</ul>
    </div>
    <div class="canvas" id="canvas">
    </div>
    <script type="text/javascript" src='/javascripts/MusicVisualizer.js'></script>
    <script type="text/javascript" src='/javascripts/index.js'></script>
  </body>
</html>
